.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 190, 157);
    background: url(https://picsum.photos/id/237/1920/1080);
    background-size: cover;
    background-position: center center;
}